<div id="body">
    <section >
        <h3>jQuery Ajax calls to Web API</h3>
        <button id="btnGetAllClients">Get All Clients [GET]</button>
        <div id="divClients"></div>
        <button id="btnGetClient">Get Client [GET]</button>
        <div id="divClient"></div>
        <button id="btnAddClient">Add Client [POST]</button>
        <button id="btnDeleteClient">Delete Client [Delete]</button>
        <button id="btnUpdateClient">Update Client [Put]</button>
    </section>
</div>
