<div id="body">
    <section >
        <h3>jQuery Ajax calls to Web API</h3>
        <button id="btnGetAllClients">Get All Clients [GET]</button>
        <div id="divClients"></div>
    </section>
</div>
